@import "tailwindcss";
@layer base {
  :root {
    @apply font-sans leading-normal font-normal;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply max-w-[1280px] mx-auto p-8;
  }
}
